{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            {% include 'messages.html' %}
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form|crispy }}
                  </div>
                <!-- <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Category</label>
                    <input type="text" class="form-control" id="category" name="category">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                  </div>  -->
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="{% url 'category-warehouse' %}" class="btn btn-danger">Back</a>
            </form>
        </div>
    </div>

{% endblock content %}

{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/category/index.js' %}"></script>
{% endblock scripts %}