{% extends 'index.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="table" class="table table-bordered">
                <thead  class="alert-warning">
                    <tr>
                        <th>No</th>
                        <th>Category Name</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                  {% for categories in category %}
                  <tr>
                    <td>{{ forloop.counter  }}</td>
                    <td>{{ categories.description }}</td>
                    <td>{{ categories.created }}</td>
                  </tr>  
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/category/index.js' %}"></script>
{% endblock scripts %}